img {
    height: 100%;
}

figure {
    height: 100%;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 260px;
    grid-template-areas: "slider slider shopNow"
                "middleImg ourFurniture bottomImg";
}

.slider__container {
    grid-area: slider;
}

.shopNow__container {
    grid-area: shopNow;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shopNow__container h2 {
    font-size: 2rem;
}
.shopNow__container p {
    font-size: .8rem;
}

.ourFurniture {
    padding: 40px 50px 40px 50px;
}

.ourFurniture h2{
    font-size: 2rem;
}

.ourFurniture p {
    font-size: .8rem;
}

/* .middle {
    height: 262px;
}

.ourFurniture {
    height: 262px;
    padding: 15px 10px 15px 10px;
} */
